body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
     
}


.paragráfo1{
    text-align: left;    
    font-size: 20px;
}

.paragráfo2{
    text-align: center;
}

.paragráfo3{
    text-align: center;
}

